.container {
    background-color: rgb(163, 210, 246);
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.menu-top {
    line-height: 26px;
  }

.logo {
    border-color: black;
    border-style: dashed;
    border-width: 1px;
    width: 150px;
    height: 50px;
    background-color: orange;
    padding-left: 10px;
    line-height: 40px;
}

.link {
        border-color: black;
        border-style: dashed;
        border-width: 1px;
        width: 500px;
        height: 50px;
        background-color: orange;
        text-align: center;
        line-height: 40px;
}

.login {
        border-color: black;
        border-style: dashed;
        border-width: 1px;
        width: 150px;
        height: 50px;
        background-color: orange;
        text-align: right;
        padding-right: 10px;
        line-height: 40px;
}

.top {
    background-color: blue;
    height: 400px;
    width: auto;
}

.show {
    background-color: plum;
    width: 700px;
    height: 300px;
    border-color: black;
    border-width: 1px;
    border-style: dashed;
    align-content: center;
}

.bg-white {
    background-color: white;
    width: auto;
    height: 500px;
    display: flex;
}

.description-left {
    background-color: rgb(26, 151, 240);
    border-color: black;
    border-width: 1px;
    border-style: dashed;
    width: 700px;
    height: 400px;
}

.image-right {
    background-color: pink;
    border-color: black;
    border-width: 1px;
    border-style: dashed;
    width: 300px;
    height: 400px;
   
}

.bg-grey {
    background-color: lightgrey;
    width: auto;
    height: 500px;
    display: flex;
}

.image-left {
    background-color: pink;
        border-color: black;
        border-width: 1px;
        border-style: dashed;
        width: 300px;
        height: 400px;
}
.description-right {
    background-color: rgb(26, 151, 240);
        border-color: black;
        border-width: 1px;
        border-style: dashed;
        width: 700px;
        height: 400px;
}

.summary {
    background-color: lightgrey;
    height: 500px;
    width: auto;
}

.big-box {
    width: 700px;
    height: 400px;
    background-color: green;
    border-color: black;
    border-width: 1px;
    border-style: dashed;
}